*.class
*.pyc
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

box/.classpath

box/.project

*.prefs

box/eclipse/*

# Launch
*.launch

# Ignore Play! working directory #
bin/
/db
.eclipse
box/precompiled
box/lib/
box/logs/
box/modules
box/project/target
box/target
tmp/
test-result
server.pid
*.eml
box/dist/
.cache

*.json
