*.class
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

java/box/.classpath

java/box/.project

*.prefs

java/box/eclipse

# Launch
*.launch

# Ignore Play! working directory #
bin\
\db
.eclipse
java/box/precompiled
java/box/lib
java/box/logs
java/box/modules
java/box/project/target
java/box/target


tmp/
test-result
server.pid
*.eml
java/box/dist
.cache

*.json
*.pyc
